@charset "utf-8";
/*重置浏览器的默认样式*/
body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img {margin:0; padding:0; border:0; list-style:none;margin: 0;}
/*全局设置*/
body{
  cursor:url(../images/default.ico),default;
	font-family: 方正小标宋_GBK;
	font-size: 14px;
	background:url("../images/background.png") repeat;
  overflow-x: hidden; 
}
/*语言栏（language）*/
.language{ 
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height:20px; 
	padding:5px 0; 
	text-align:right;
	background-color: RGB(0,32,96);
}
.language p{
	display: inline-block;
	height:16px; 
	font-size:14px;
	color: #FFFFFF; 
	margin-right: 5%;
}
.language p:hover{  
	height:16px; 
	font-size:14px;
	color: #66ccff; 
}

/*导航栏*/
.header {
  position: absolute;
  top:30px;
	width:100%;
  height:100px;
}

.logo {
	position: absolute;
	top: 10px;
	left:50px;
  margin-left:20px;
	width:350px;
	height:75px;
}
.header nav ul{
    width:100%;
    height:30px;
    margin:0 auto;
    position: relative;
}
.header nav ul li{
    float: right; 
    margin-right: 3%;
    position: relative;
}

.header nav ul li a{
    display: block;
    height:90px;
    line-height: 90px;
    font-size: 20px;
    color:#002060;
	text-decoration: none;
}
.header nav ul li a:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #66ccff;
}
.header nav ul li a span{margin:0 10px;}
.header aside{
    display: none;
    width: 80px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    left:auto;
    right:0; 
    top:90px;
    z-index: 1500;
    color:#fff;
}
.header aside ol{
    width:80px;
    padding: 10px;
}
.header aside ol li{
	width:80px;
    padding: 0px;
    height:40px;
    line-height: 30px;
    cursor: pointer;
    font-family: "宋体";
    padding: 0 10px;
}
.header aside ol li.con{
    font-size: 14px;
	text-align: center;
    font-family: "微软雅黑";
}
.header aside ol li:hover{
    background: rgba(255, 255, 255, 0.2);
    color:#fff;
}
.header nav ul li:hover aside
{	
	display: block;
}

/******************头图***********************/
.banner {
  position: absolute;
  top:100px;
  width: 100%; /* 设置宽度为100%，让其充满父容器 */
  }
  
  .video-container {
    width: 100%;
    height: 800px;
    position: relative; /* 相对定位，为了让图片能够覆盖在视频上 */
    overflow: hidden;
  }

  .video-container video {
    position: relative;
    top: 125px;
    width: 100%; 
    height: 500px;
    display: block; /* 让视频元素以块级元素显示 */
    object-fit: cover;
  }
  
  .img1, .img2{
    position: absolute; 
    z-index: 1; 
  }
  
  .img1 {
    top: 25px; 
    right: -350px; 
    width: 750px;
    height: 750px;
    
  }
  
  .img2 {
    top: 225px; 
    left: 150px; 
    width: 960px;
    height: 300px;
    
  }

/******************侧边导航栏*****************/
.sider{
  position: absolute;
  top: 725px;
  left: 10%;
  width:80%;
  height: 1800px;
  background:url("../images/box.png") repeat-y;
}
.sider .container {
  width: 100%;
  margin: 0;
  padding: 0;

}
.sider table {
  position: relative;
  top: 125px;
  left: 0px;
  width: 25%;
  border-collapse: collapse;
  box-shadow: #1c5ea4a5 0 0 25px;
}

.sider th {
  width: 400px;
  height: 75px;
  background-color: #0057b3;
  color: white;
  font-size: 32px;
  font-family: 演示新手书;
}

.sider tr {
  width: 400px;
  height: 50px;
}

.sider td {
  width: 350px;
  height: 50px;
  background-color: #ddf2fdd3;
  padding: 10px;
}

.sider td:hover {
  background-color: #84a8bbd3;
}

.sider .cell-container {
  white-space: nowrap;
}

.sider img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  margin-right: 25px;
}

.sider a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  vertical-align: middle;
  display: inline-block;
}


/******************咨询内容*****************/
.new{
    position: absolute;
    top: 850px;
    left:505px;
    width:60%;
    height:800px;
    background:#eef9ff8f;
  }
  .new.container{
    position: relative;
    top: 0%;
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .laber {
    position: relative;
    top: 50px;
    left: 18%;
  }
  
  .laber .title {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .laber .title img {
    vertical-align: middle;
    width: 75px;
    height: 75px;
  }
  
  .laber .title span {
    position: relative;
    left: 0px;
    font-size: 64px;
    font-family: 演示新手书;
    text-align: left;
   
  }

/******************手风琴图*****************/
.show {
    position: relative;
    top: 75px;
    left: 25px;
    width: 1200px; 
    height: 600px;
    overflow: hidden;
  }
.show .container{
  /* 弹性布局 默认水平排列 */
  display: flex;
  width: 90vw;
  max-width: 950px;
  height: 400px;
  /* 溢出隐藏 */
  overflow: hidden;
}
.show .item{
  /* 相对定位 */
  position: relative;
  width: 60px;
  margin: 10px;
  cursor: pointer;
  border-radius: 30px;
  /* 保持原有尺寸比例，裁切长边 */
  background-size: cover;
  /* 定位背景图像为正中间 */
  background-position: center;
  /* 过渡效果：时长 贝塞尔曲线 */
  transition: 0.5s cubic-bezier(0.05,0.61,0.41,0.95);
  overflow: hidden;
}
.show .item .shadow{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  transition: 0.5s cubic-bezier(0.05,0.61,0.41,0.95);
}
.show .item .content{
  display: flex;
  position: absolute;
  left: 10px;
  right: 0;
  bottom: 10px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05,0.61,0.41,0.95);
}
.show .item .content .icon{
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a7d4f2e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  z-index:999;
}
.show .item .content .icon:hover{
  background-color: #7a99aee0;
}
/* 选中态样式 */
.show .item.active{
  flex: 1;
  margin: 0;
  border-radius: 40px;
}
.show .item.active .shadow{
  background: linear-gradient(to top,rgba(0,0,0,0.35) 65%,transparent);
}
.show .item.active .content{
  bottom: 20px;
  left: 20px;
}
.show .item.active .content .text div{
  opacity: 1;
}

/******************新闻导航*****************/
  .newnav {
    position: absolute; 
    top: 625px; 
    left:505px;
    transform: translateX(-50%); 
    width: 1010px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.newnav .tit {
    width: 100%; 
    height: 40px; 
    background: #398ab5a4;
    font-weight: bold; 
    font-size: 16px; 
    line-height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
}
.newnav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.newnav ul li {
    padding: 10px;
    height: 50px;
    background-color: #ddf2fd;
    border-bottom: 1px dashed #000; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.newnav ul li:hover {
    background-color: #cce7f0;
}
.newnav ul li p {
    margin: 0;
    font-size: 16px;
    color: #333;
}
.newnav ul li span {
    display: block;
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.newnav ul li.page {
    text-align: center;
    padding: 20px;
    height: 300px;
    background-color:#ffffff82;
    border-bottom: none;
    cursor: default;
}
.newnav ul li.page a {
    text-decoration: none;
    color: #398ab5;
    margin: 0 5px;
    font-weight: bold;
    line-height: normal;
}
.newnav ul li.page a:hover {
    text-decoration: underline;
}

/*************波浪形过渡****************/
.waves {
  position: absolute; 
  top: 2250px;
  left: -20%; 
  width: 150%; 
  height:300px;
  margin-bottom:-7px; 
  min-height:100px;
  max-height:300px;
  z-index: 1; 
}

.waves .content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: rgb(55, 99, 151);
}

/*动画部分*/
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}


/***************版权信息栏********************/
.footer{
    position:absolute;
    top: 2550px;
    left:0;
    height: 300px;
    width: 100%;
    background-color:rgb(39, 71, 109);
    z-index: 999;
  }
  
  .footer img{
    position: relative;
    top:85px;
    left: 40%;
    width: 300px;
    height: 75px;
  }
  
  .subnav{
    position:relative;
    top: 110px;
      text-align:center;
      color:white;
      font-size:14px;
  
  }
  
  .subnav a{
      text-decoration:none;
      color:#f0f1f1;
      padding:0 5px;
      font-size:16px;
  }
  
  .subnav a:hover{
      color:skyblue;
      text-decoration:underline;
  }
  
  .footer p{
    position:relative;
    top: 100px;
      color:#888888;
      text-align:center;
      margin-top:30px;
      font-size:12px;
  }
  
  .text{
      height:45px;
      width:100%;
      position:absolute;
      left:0;
      bottom:0;
      text-align:center;
      line-height:45px;
      font-size:12px;	
      color:white;	
      background:rgba(0, 0, 0,.3)
  }